<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>produtos</h1>
    <ul>

        <!-- 
            Uma forma de percorrer array com "for" no ES6 é com "of" conforme exemplo
            abaixo, da para usar o "in" mas com "in" ele pega o indice do array não o valor
        -->
        <% for(let produto of produtos) {%>
            <li> <%=produto%> </li>
         <% } %> 
    </ul>

</body>
</html>